.categories__wrapper {
    display: flex; /* Используем flexbox для выравнивания элементов */
    flex-direction: column; /* Устанавливаем вертикальное направление */
    gap: 15px; /* Устанавливаем расстояние между картинками */
}

.category__link {
    position: relative; /* Устанавливаем позицию для абсолютного позиционирования дочерних элементов */
    overflow: hidden; /* Скрыть части изображения, выходящие за пределы блока */
    display: flex; /* Используем flexbox для выравнивания элементов */
    flex-direction: column; /* Устанавливаем вертикальное направление */
    align-items: center; /* Центрируем элементы по горизонтали */
    height: 200px; /* Задаем высоту равной высоте изображения */
}

.category__photo {
    width: 100%;
    height: 100%; /* Задаем высоту равной высоте родителя */
    object-fit: cover; /* Обрезает изображение, сохраняя пропорции */
    filter: brightness(0.7); /* Затемняем изображение */
    border-radius: 15px; /* Закругляем края изображения */
}

.category__title {
    position: absolute;
    top: 40%; /* Выравниваем по центру вертикально */
    left: 50%; /* Выравниваем по центру горизонтально */
    transform: translate(-50%, -50%); /* Центрируем текст */
    color: white; /* Цвет текста */
    font-size: 32px; /* Размер шрифта */
    text-align: center; /* Центрируем текст */
    z-index: 1; /* Убедитесь, что текст поверх изображения */
}

.category__button {
    margin-top: 10px; /* Добавляем отступ сверху для кнопки */
    padding: 10px 20px; /* Отступы внутри кнопки */
    border: none; /* Убираем рамку */
    border-radius: 20px; /* Скругляем углы */
    background-color: #FF4411; /* Оранжевый фон */
    color: white; /* Цвет текста на кнопке */
    font-size: 16px; /* Размер шрифта */
    cursor: pointer; /* Указатель курсора при наведении */
    transition: background-color 0.3s; /* Плавный переход для изменения цвета */
    z-index: 2; /* Убедитесь, что кнопка поверх изображения */
    position: absolute; /* Устанавливаем абсолютное позиционирование для кнопки */
    top: 60%; /* Устанавливаем положение кнопки ниже заголовка */
    left: 50%; /* Центрируем кнопку по горизонтали */
    transform: translate(-50%, -50%); /* Центрируем кнопку */
}
